Package: yui-compressor
Version: 2.4.8-2
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 634
Depends: default-jre-headless | java5-runtime-headless, java-wrappers, libjargs-java
Section: java
Priority: optional
Multi-Arch: foreign
Homepage: http://yuilibrary.com/projects/yuicompressor/
Description: JavaScript/CSS minifier
 The YUI Compressor is a JavaScript compressor which, in addition to removing
 comments and white-spaces, obfuscates local variables using the smallest
 possible variable name. This obfuscation is safe, even when using constructs
 such as 'eval' or 'with' (although the compression is not optimal is those
 cases) Compared to jsmin, the average savings is around 20%.
 .
 The YUI Compressor is also able to safely compress CSS files. The decision
 on which compressor is being used is made on the file extension (js or css).
